logic/NodeRedExports/flows2.json
[
    {
        "id": "flow_diag_principal",
        "type": "tab",
        "label": "Sistema de Diagnóstico",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8b4cac2685a88e95",
        "type": "ui-form",
        "z": "flow_diag_principal",
        "name": "",
        "group": "ui_grp_sintomas",
        "label": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Formulario de síntomas",
                "key": "sintoma_principal",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "sintoma_principal": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "clear",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [],
        "x": 210,
        "y": 120,
        "wires": [
            [
                "cd409d53448f5bdc"
            ]
        ]
    },
    {
        "id": "0b1c27eab2b10d39",
        "type": "debug",
        "z": "flow_diag_principal",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 120,
        "wires": []
    },
    {
        "id": "cd409d53448f5bdc",
        "type": "function",
        "z": "flow_diag_principal",
        "name": "function 1",
        "func": "let sintoma = \"\";\n\nif (msg.payload && msg.payload.sintoma_principal) {\n    sintoma = msg.payload.sintoma_principal.toString().trim();\n}\n\nif (sintoma === \"\") {\n    msg.payload = {\n        estado: \"error\",\n        mensaje: \"No se ha recibido ningún síntoma.\"\n    };\n} else {\n    msg.payload = {\n        estado: \"ok\",\n        sintoma_recibido: sintoma,\n        mensaje: \"Síntoma recibido correctamente y preparado para análisis.\"\n    };\n}\n\nmsg.collection = \"sintomas_entrada\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 120,
        "wires": [
            [
                "0b1c27eab2b10d39",
                "dcf9871d3ddfc55d"
            ]
        ]
    },
    {
        "id": "dcf9871d3ddfc55d",
        "type": "mongodb out",
        "z": "flow_diag_principal",
        "mongodb": "b7c45fcde4df52a0",
        "name": "",
        "collection": "",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "ui_grp_sintomas",
        "type": "ui-group",
        "name": "Panel de Control",
        "page": "ui_page_diag",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "b7c45fcde4df52a0",
        "type": "mongodb",
        "hostname": "mongodb",
        "topology": "direct",
        "connectOptions": "",
        "port": 27017,
        "db": "tfg_database",
        "name": "Conexion_TFG"
    },
    {
        "id": "ui_page_diag",
        "type": "ui-page",
        "name": "Diagnóstico",
        "ui": "ui_base",
        "path": "/diagnostico",
        "icon": "wrench",
        "layout": "grid",
        "theme": "",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ui_base",
        "type": "ui-base",
        "name": "TFG Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-control",
            "ui-notification"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 5,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "0f88e415117090d4",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2",
            "node-red-node-mongodb": "0.2.5"
        }
    }
]